# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
*.map

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
divi-5/**/*.jsx export-ignore
divi-5/**/node_modules export-ignore
divi-5/**/package.json export-ignore
divi-5/**/installed.json export-ignore
divi-5/**/composer.json export-ignore
divi-5/**/composer.lock export-ignore
divi-5/**/webpack.config.js export-ignore
divi-5/**/License export-ignore
visual-builder export-ignore